<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Patarhi</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/css/style.css">
   <script src="/js/enter-submit.js" defer></script>
</head>
<body>
<header class="site-header">
  <div class="left">
    <a href="/" style="display: flex; align-items: center;">
      <img src="/uploads/patahari_logo.jpg" alt="logo" class="logo" onerror="this.style.display='none'">
    </a>
  </div>
  <div class="center">
    <a href="/" style="text-decoration: none; color: inherit;">
      <h1>आदर्श ग्राम पताढ़ी</h1>
    </a>
  </div>
  <nav class="right">
    <a href="/">Home</a>
    <a href="/details">Get Details</a>
    <a href="/gallery">Gallery</a>
    <% if (user) { %>
      <a href="/profile">Profile</a>
      <% if (user.isAdmin) { %><a href="/admin">Admin</a><% } %>
      <a href="/logout">Logout</a>
    <% } else { %>
      <a href="/register">Register</a>
      <a href="/login">Login</a>
    <% } %>
  </nav>
</header>
<main class="main">
